body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(80, 78, 78);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  padding-left: 20px;
}
div{
  color:#022222;
}

.exito{
  max-width:max-content;
  color: #008000;
  background: #82eb9c;
  padding: 15px;
  margin: 25px;
  margin-left: 0px;
}

.error{
  max-width:max-content;
  color: #aa2218;
  background: #470907;
  padding: 15px;
  margin: 25px;
  margin-left: 0px;
}

h1{
  color:#022222
}

h3{
  color:#82dfdf
}

p{
  color: white;
}
